@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Novin.Bpmn.Dashbaord.Controllers.ProcessViewModel

<div class="card card-body  mb-3">
    <h2 class="mb-3">@Model.DefinitionKey</h2>

    <hr/>
    <div class="d-flex gap-3">
        <a asp-action="Execute" asp-controller="Bpmn" asp-route-fileName="@Model.DefinitionKey" class="btn btn-secondary">Start New Process</a>
    </div>
</div>

<div class="card card-body">
    @if (Model.Processes.Any())
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Process Instance ID</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var process in Model.Processes)
            {
                <tr>
                    <td>@process.Id</td>
                    <td>
                        <a asp-action="ProcessDetail" asp-controller="Bpmn" asp-route-id="@process.Id" type="submit" class="btn btn-secondary">Details</a>
                    </td>
                    <td>
                        <form asp-action="DeleteProcess" asp-controller="Bpmn" method="post" class="d-inline">
                            <input type="hidden" name="processId" value="@process.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No processes available for this definition.</p>
    }
</div>